<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">
        <!-- <li class="text-center">
            <img src="../../../assets/AdminAssets/assets/img/find_user.png" class="user-image img-responsive"/>
            </li> -->
        
            
            <li>
                <a   routerLink="/admin/profileadmin"><i class="fa fa-qrcode fa-3x"></i> Admin Profile</a>
            </li>
             <li>
                <a  routerLink="/admin/HomePageNews"><i class="fa fa-desktop fa-3x"></i> Home Manage</a>
            </li>


            <li>
                <a  routerLink="/admin/news"><i class="fa fa-qrcode fa-3x"></i> News Manage</a>
            </li>



            <li>
                <a  routerLink="/admin/PublisherView"><i class="fa fa-qrcode fa-3x"></i> Publisher View</a>
            </li>



            <li>
                <a  routerLink="/admin/Articals"><i class="fa fa-qrcode fa-3x"></i> Articals </a>
            </li>

<!--             
            <li>
                <a  href="/admin/adsType"><i class="fa fa-qrcode fa-3x"></i> Ads Type</a>
            </li> -->
                   <li  >
                <a  routerLink="/admin/chart" ><i class="fa fa-bar-chart-o fa-3x"></i> Morris Charts</a>
            </li>	
              <li  >
                <a  routerLink="/admin/adsType"><i class="fa fa-qrcode fa-3x"></i> Ads Type</a>
            </li>
            <!-- <li  >
                <a  href="form.html"><i class="fa fa-edit fa-3x"></i> Forms </a>
            </li>				 -->
            
                               
            
          <li  >
            <a  routerLink="/admin/AdsStatus"><i class="fa fa-table fa-3x"></i> AdsStatus</a>
        </li>	
            <li  >
                <a  routerLink="/admin/TestmonialStatus"><i class="fa fa-qrcode fa-3x"></i> Testmonial Status</a>
            </li> <li  >
                <a  routerLink="/admin/search"><i class="fa fa-qrcode fa-3x"></i> Report</a>
            </li>

            <li  >
                <a  routerLink="/admin/contactUsManage"><i class="fa fa-qrcode fa-3x"></i> contactUsManage</a>
            </li>


            <li  >
                <a  routerLink="/admin/allUser"><i class="fa fa-qrcode fa-3x"></i> User View</a>
            </li>
            
        </ul>
       
    </div>
    
</nav>